<div id="fancy_stuff" style="display:none" class="container">

<% if notice.present? %>
<br>
<div class="alert alert-danger"><%= notice %></div>
<% end %>

<h2>Shelter Sign in</h2>

<%= form_tag sessions_url, method: 'post' do %>


      <%= label_tag :email %>
      <%= email_field_tag :email, nil, :class => "form-control" %>


      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :class => "form-control"  %>


   <%= submit_tag "Login", :class => "btn btn-primary"  %>

<% end %>


</div>
