<br><br>

<div class="container">

<h1>Edit Occupant</h1>


<%= form_tag(occupant_url(@occupant), method: 'patch') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @occupant.name %>
  </div>

  <div>
    <%= label_tag :sex %><br />
    <%= text_field_tag :sex, @occupant.sex %>
  </div>

  <div>
    <%= label_tag :number_of_beds %><br />
    <%= number_field_tag :number_of_beds, @occupant.number_of_beds, min: 0 %>
  </div>

  <div>
    <%= hidden_field_tag :shelter_id %><br />
    <%= hidden_field_tag :shelter_id, @occupant.shelter_id %>
  </div>


  <div>
    <%= submit_tag "Update Occupant", :class => "btn btn-primary" %>
  </div>

<% end %>

</div>
