<!DOCTYPE html>
<html>
<head>
  <title>OpenBedApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css">
</head>
<body>
<span class="login_link"><%= link_to "Homepage", root_url %> | <%= link_to "Shelters Page", shelters_url %> | Already Registered? <%= link_to "Login Here", new_session_url%> | <%= link_to 'Log Out', logout_url %></span>

<%= yield %>

</body>
</html>
